@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --lightgray: #f0f0f0;
  --lightyellow: #f4d47c;
  --textyellow: #f4d47c;
  --goldenrod: #755f28;

  --font1: "Raleway", sans-serif;
  --font2: "Oswald", sans-serif;
  --scrollbar: rgb(218, 165, 32);
  --darkgrey: #353535;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scrollbar);
}
::selection{
  background-color: #f4d47c9d;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.1s ease;
}

img{
  border-radius: 5px;
}
#scrollToTopBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 15%;
  background-color: var(--scrollbar);
  color: #fff;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
  z-index: 500;
  animation: loadTransition .7s;;
}
/* -- NAVBAR --*/

#logo {
  padding: 10px;
  border: 0;
  background-color: white;
  display: flex;
  margin: auto;
  width: auto;
}

header{
  justify-content: center;
  display: flex;
}
.menu{
  display: none;
}
.menu i{
  color: var(--black);
  font-size: 1.8rem;
  cursor: pointer;
}
#navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-inline: 250px;
  padding-block: 20px;
  font-family: var(--font1);
}

#buttons {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

#buttons:hover {
  color: goldenrod;
  transition: 0.4s ease;
}
.mobile{
  display: none;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.mobile ul{
  margin-top: 5rem;
  display: block;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.mobile ul li{
  margin-bottom: 20px;
}
.mobile ul li a{
  color: var(--black);
  font-family: var(--font1);
  font-size: 1.5rem;
  text-decoration: none;
}
.mobile ul li a.colored{
  color: var(--scrollbar);
}
#closeNav{
  position: absolute;
  right: 0;
  margin: 30px;
  font-size: 1.8rem;
  cursor: pointer;
}
#btns{
  cursor: pointer;
}
.open-animation{
  animation: nav-animation 1s forwards;
}

/* -- HOME PAGE --*/

#bg {
  background-image: url("../img/bgjpg.jpg");
  width: 100%;
  min-height: 560px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1{
  padding-top: 50px;
  text-align: center;
  font-size: 70px;
  font-family: var(--font2);
  font-weight: 600;
}

.title h3 {
  font-weight: normal;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-family: var(--font1);
}


#buttonContact {
  text-decoration: none;
  color: white;
  background-color: black;
  display: flex;
  margin: auto;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-family: var(--font1);
  transition: 0.4s ease;
  width: 60px;
}

#buttonContact:hover {
  color: goldenrod;
}
/* -- ABOUT US --*/

#about-image {
  display: flex;
  margin: auto;
  transition: 0.5s ease;
}

#about-image:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
}

#about {
  text-align: center;
  padding-inline: 30px;
  background-color: rgba(218, 165, 32, 0.233);
  padding-block: 60px;
}

.about-text {
  max-width: 1100px;
  display: block;
  margin: auto;
  font-family: var(--font1);
  line-height: 30px;
}

.about-text h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font2);
}

.about-text h3 {
  font-weight: 600;
  text-align: center;
  padding: 30px;
  color: var(--darkgrey);
  text-transform: uppercase;
}

#GIT {
  text-decoration: none;
  color: white;
  background-color: black;
  display: flex;
  margin: auto;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-family: var(--font1);
  transition: 0.4s ease;
  width: 100px;
  justify-content: center;
}

#GIT:hover {
  color: goldenrod;
}
.pspO{
  text-decoration: none;
  color: #755f28;
}

/* -- PRODUCT --*/

#product {
  display: flex;
  justify-content: center;
}
#product #product-text h1{
  font-family: var(--font2);
  font-size: 40px;
  color: var(--textyellow);
  font-weight: 500;
  margin-top: 3.4rem;
  margin-bottom: 2rem;
  line-height: 3rem;
}
#product-text{
  line-height: 30px;
}
#product #product-text{
  text-align: center;
  font-size: 16px;
}
#product-text h3{
  font-family: var(--font1);
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--darkgrey);
  text-transform: uppercase;
}
.product-text-box{
  margin-bottom: 30px;
}

#product #product-text p{
  max-width: 1100px;
  font-size: 16px;
  line-height: 1.875em;
  font-family: var(--font1);
  margin-bottom: 2rem;
  padding: 0 30px;
}

#product-text-p{
  display: inline-block;
}
.keyfeature {
  width: auto;
  height: auto;
  background-color: rgba(218, 165, 32, 0.233);
  padding: 30px;
}

.keyfeature h1{
  font-family: var(--font2);
  font-size: 40px;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}
.keyfeature-box{
  display: block;
}
.keyfeature-content{
  max-width: 500px;
  width: 500px;
  margin: 20px;
  font-family: var(--font1);
  text-align: center;
  line-height: 30px;
}
.keyfeature-content h3{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.17rem;
  text-transform: uppercase;
  color: var(--darkgrey);
}
.keyfeature-content-main{
  display: flex;
  justify-content: center;
}

.features-img-main{
  transition: transform 0.5s ease; 
}

.features-img-main:hover{
  transform: scale(1.1);
}

.features-img{
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
}
.features-img-main{
  width: 100%;
  height: auto;
  max-width: 700px;
  margin: 25px;
}
.features-img-main2{
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 25px;
}
/* -- ADDED VALUE --*/

.av {
  width: auto;
  height: auto;
  padding: 30px;
}
.av-title {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: var(--font2);
  color: var(--lightyellow);
  font-weight: 500;
}

.av-cards {
  display: flex;
  margin: 0 50px 0 50px;
  border-radius: 5px;
  gap: 20px;
}

.av-card {
  text-align: center;
  width: 33.33%;
  background: #f0f0f0;
  border-radius: 5px;
  transition: 0.5s ease;
}

.av-card:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
}

.av-undertitle-text {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 16px;
  margin: 35px 50px;
  line-height: 30px;
  display: block;
}
.main-textbox{
  display: flex;
  flex-direction: row;
}
.textbox{
  width: 100%;
  height: auto;
  margin: 15px;
  font-family: var(--font1);
  display: grid;
  justify-content: center;
}
.textbox h3{
  font-weight: 600;
  color: var(--darkgrey);
  text-transform: uppercase;
}


.av-text{
    width: 300px;
    display: inline-block;
    padding: 30px;
    font-family: var(--font1);
    line-height: 30px;
}

.av-card h2 {
  font-size: 2rem;
  font-family: var(--font2);
}

.av-card h1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.17rem;
  color: var(--darkgrey);
  text-transform: uppercase;
}

.service-option{
  justify-content: center;
  display: inline;
  text-align: center;
  width: 1000px;
  margin: 10px;
  padding: 50px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.5s ease;
}
.service-option h3{
  color: var(--darkgrey);
}
.service-option:hover{
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
}
.service-options{
  display: flex;
}

.img-av-container{
    position: relative;
    text-align: center;
    color: white;
}

.img-av-container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 4px 2px 4px #000000;
}

#img-av {
  max-width: 100%;
  height: auto;
  position: relative;
  filter: brightness(50%);
}
/* -- SERVICE -- */
#service {
  width: auto;
  height: auto;
  background-color: rgba(218, 165, 32, 0.233);
  padding: 30px;
}
.service-text {
  margin: 0 3%;
  display: block;
  font-family: var(--font1);
  line-height: 30px;
}

.service-text h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font2);
}

.service-text h3 {
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}

.service-text h4 {
  font-weight: normal;
  text-align: center;

}
.service-text p {
  font-weight: normal;
  text-align: center;
  padding-bottom: 20px;
}


/* -- FEATURES -- */

#features {
  width: auto;
  height: auto;
  background: #fff;
  padding: 30px;
  margin: 2%;
}

.features-title {
  color: rgb(244, 212, 124);
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  font-family: var(--font2);
  color: var(--lightyellow);
  font-weight: 500;
}

.features-cards {
  display: flex;
  justify-content: space-around;
  background: #f0f0f0;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
  line-height: 50px;
}
.features-card {
  text-align: center;
  width: 33.33%;
}

.features-card p {
  font-family: var(--font1);
  font-weight: 500;
}

.features-card h2 {
  font-size: 4rem;
  font-family: var(--font2);
  font-weight: 550;
  margin-bottom: 30px;
}

#img-features {
  width: 55px;
  height: 50px;
  padding: 5px;
}
/* -- APPLICATION -- */

.application {
  width: auto;
  height: auto;
  background-color: rgba(218, 165, 32, 0.233);
  padding: 30px;
}

.application-title {
  padding-top: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  font-family: var(--font2);
  font-weight: 500;
}

.application-cards {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
}

.application-card {
  text-align: center;
  width: 25%;
 
}

.application-card p {
  font-weight: bold;
  font-size: 22px;
  font-family: var(--font2);
  font-weight: 460;
}

#img-application {
  width: 50px;
  padding: 5px;
}

/* -- MTT -- */

#mtt {
  width: auto;
  height: auto;
  padding: 30px;
}

.mtt-title {
  padding-top: 50px;
  color: rgb(244, 212, 124);
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  font-family: var(--font2);
  font-weight: 500;
}

.mtt-cards {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
}

.mtt-card {
  text-align: center;
  width: 25%;
  justify-content: center;
  display: grid;
}

.mtt-card p {
  font-family: var(--font1);
  font-weight: 500;
}

.mtt-card h2 {
  font-family: var(--font2);
  color: var(--lightyellow);
  font-weight: 500;
  line-height: 80px;
}

#mtt img{
    transition: 0.5s ease;
}

#mtt img:hover{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
}

.mtt-card img{
    width: 300px;
    height: 301px;
    border-radius: 5px;
}
/* -- TEAM -- */

.at {
  width: auto;
  height: auto;
  padding: 30px;
  background-color: rgba(218, 165, 32, 0.233);
}

.at-title {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  font-family: var(--font2);
  font-weight: 500;
}

.at-cards {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
}

.at-card {
  text-align: center;
  width: 25%;
}
.at-card h2{
  font-family: var(--font2);
  font-weight: 500;
  line-height: 80px;
}
.at-card p{
  font-family: var(--font1);
  font-weight: 500;
  line-height: 20px;
}

.at img{
    transition: 0.5s ease;
}

.at img:hover{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
}

/* -- CONTACT US -- */

#contact{
  background-image: url(../img/contactUs.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  padding-bottom: 18rem;
  
}

.contact-box{
  background: var(--lightgray);
  border-radius: 5px;
}

.contact-text h2{
  font-size: 40px;
  font-family: var(--font2);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.box1{
  width: 100%;
  display: flex;
}
.contact-text{
  width: 50%;
  padding: 3rem;
  text-align: center;
}
.contact-text p{
  font-family: var(--font1);
  line-height: 1.875em;
  font-size: 16px;
  
}
.contact-form{
  width: 50%;
  padding: 3rem;
  display: block;
}
.map{
  width: 100%;
  height: 60vh;
  border: 0;
}
.input{
  margin-bottom: 1rem;
  width: 50%;
}
.input p{
  font-family: var(--font1);
}
.input input{
  padding: 15px;
  font-family: var(--font1);
  font-size: 16px;
  background: var(--lightgray);
  border: 1px solid black;
  width: 187%
}
.dinput{
  display: flex;
  gap: 10px;
}
.dinput input{
  width: 87%;
}
.contact-form-box{
  max-width: 500px;
}
.btn-box{
  display: flex;
  justify-content: right;
}
.contact-form-box button.btn{
  border: 0;
  background: var(--black);
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--white);
  font-family: var(--font1);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.contact-form-box button.btn:hover{
  color: goldenrod;
}

/* FOOTER */
#footer{
  justify-content: center;
  display: grid;
  margin: 30px;
}
.footer-content{
  display: grid;
  justify-content: center;
}
#img1{
  width: 200px;
  margin-bottom: 10px;
}
#img2{
  width: 100px;
  margin-bottom: 10px;
}
#footerC{
  display: flex;
  justify-content: center;
  font-family: var(--font1);
  font-weight: 600;
}

/* -- RESPONSIVITY -- */
@media screen  and (max-width: 1025px){
  #about img{
    width: 100%;
  }
  #contact{
    background-image: none;
    padding: 0;
  }
  .dinput input{
    width: 187%;
  }
  .dinput{
    display: block;
  }
}
@media screen  and (max-width: 1190px){
  .av-cards{
    display: grid;
    justify-content: center;
  }
  .av-card {
    width: 100%;
  }
  .mtt-cards{
    gap: 20px;
  }
  .mtt-card{
    width: 1px;
  }
  .at-cards{
    padding: 0;
    gap: 30px;
  }
  .main-textbox{
    display: block;
  }
  .textbox p{
    max-width: 500px;
  }
  .textbox{
    margin: 0;
    margin-bottom: 25px;
  }
  .service-options {
    display: block;
  }
  .service-option{
    display: grid;
    width: auto;
  }
  .keyfeature-content-main {
    display: block;
  }
  .keyfeature-box {
    display: grid;
    justify-content: center;
  }
}
@media screen  and (max-width: 940px){
  
  @supports (-webkit-touch-callout: none) {
    #bg{
      background-attachment: unset;
      min-height: 300px;
    }
  }


  .mtt-cards{
    gap: 20px;
    display: grid;
  }
  .at-cards{
    display: grid;
    justify-content: center;
    gap: 20px;
  }
  .at-card{
    width: auto;
  }
  .application-cards{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }
  .features-cards{
    margin: 0;
  }
  .box1{
    display: block;
  }
  .contact-form{
    width: auto;
  }
  .contact-text{
    width: auto;
  }
}
@media screen and (max-width: 940px) and (min-width: 597px){
  .contact-form{
    justify-content: center;
    display: grid;
  }
  .contact-form-box{
    width: 600px;
  }
}
@media screen  and (max-width: 930px){
  #navbar{
    display: none;
  }
  #logo{
    width: 100px;
    display: inline;
  }
  .menu{
    margin: 30px;
    position: absolute;
    right: 0;
    display: grid;
  }
}
@media screen and (max-width: 870px) {
  .features-card h2{
    font-size: 3rem;
  }
}
@media screen  and (max-width: 700px){
  .features-cards{
    display: grid;
    gap: 15px;
  }
  .features-card{
    width: auto;
  }
  .application-cards{
    display: grid;
    gap: 15px;
  }
  .application-card{
    width: auto;
  }
  .contact-form{
    padding-left: none;
  }
  .keyfeature-content{
    width: auto;
  }
}
@media screen  and (max-width: 610px){
  .title h1{
    font-size: 50px;
  }
  .title h3{
    font-size: 15px;
  }
}
@media screen  and (max-width: 508px){
  #service{
    padding: 30px 0;
  }
}
@media screen  and (max-width: 426px){
  .title h1{
    font-size: 40px;
  }
  .title h3{
    font-size: 15px;
  }
  #logo{
    width: 100px;
  }
  #bg{
    min-height: 368px;
  }
  .av-undertitle-text{
    margin: 35px 15px;
  }
}
@media screen and (max-width: 400px) {
  .features-card h2{
    font-size: 2rem;
  }
}
@media screen and (max-width: 321px){
  .av-text{
    width: 230px;
  }
  .av-card{
    width: 300px;
  }
}

/* Animace */
@keyframes nav-animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes loadTransition{
  from{
      opacity: 0;
      transform: translateY(0);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}

