@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --lightgray: #f0f0f0;
  --lightyellow: #f4d47c;
  --textyellow: #f4d47c;
  --goldenrod: #755f28;

  --font1: "Raleway", sans-serif;
  --font2: "Oswald", sans-serif;
  --scrollbar: rgb(218, 165, 32);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scrollbar);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
  transition: 0.1s ease;
}

#logo {
  padding: 10px;
  border: 0;
  background-color: white;
  cursor: pointer;
  display: flex;
  margin: auto;
}

#navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-inline: 250px;
  padding-block: 20px;
}

#buttons {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
}

#buttons:hover {
  color: goldenrod;
  transition: 0.4s ease;
}

#bg {
  background-image: url("../img/bgjpg.jpg");
  width: 100%;
  min-height: 560px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#titleFirst {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
}

#titleSecond {
  font-weight: normal;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

#titleBig {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}

#titleMid {
  font-weight: normal;
  text-align: center;
  padding: 30px;
}

#buttonContact {
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  margin: auto;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

#buttonContact:hover {
  color: goldenrod;
  transition: 0.4s ease;
}

#aboutImg {
  display: flex;
  margin: auto;
}

#aboutUs {
  text-align: center;
  padding-inline: 30px;
  background-color: rgba(218, 165, 32, 0.233);
  padding-block: 60px;
}

#textAbout {
  width: 1100px;
  display: block;
  margin: auto;
}

#product {
  display: flex;
  flex-direction: row;
  padding-inline: 30px;
}

#pspLeft {
  flex: 1;
}

#pspRight {
  flex: 2;
  margin-left: 20px;
  text-align: center;
  padding: 110px;
}

img {
  border-radius: 5px;
}

#normalText {
  text-align: center;
}

/* -- ADDED VALUE --*/

.av {
  width: auto;
  height: auto;
  padding: 30px;
}
.av-title {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.av-cards {
  display: flex;
  margin: 0 50px 0 50px;
  border-radius: 5px;
  gap: 20px;
}

.av-card {
  text-align: center;
  width: 33.33%;
  background: #f0f0f0;
  border-radius: 5px;
  transition: 0.5s ease;
  cursor:pointer;
}

.av-card:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
    
}

.av-text{
    width: 300px;
    display: inline-block;
    padding: 30px;
}


.av-card h2 {
  font-size: 4rem;
}

.av-card h1 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
}

.img-av-container{
    position: relative;
    text-align: center;
    color: white;
}

.img-av-container h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 4px 2px 4px #000000;
}

#img-av {
  width: 100%;
  height: auto;
  position: relative;
  filter: brightness(50%);
}

/* -- FEATURES -- */

.features {
  width: auto;
  height: auto;
  background: #fff;
  padding: 30px;
}
.features-title {
  color: rgb(244, 212, 124);
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.features-cards {
  display: flex;
  justify-content: space-around;
  background: #f0f0f0;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
}
.features-card {
  text-align: center;
  width: 33.33%;
}
.features-card h2 {
  font-size: 4rem;
}
#img-features {
  width: 50px;
  padding: 5px;
}

/* -- APPLICATION -- */

.application {
  width: auto;
  height: auto;
  background-color: rgba(218, 165, 32, 0.233);
  padding: 30px;
}

.application-title {
  padding-top: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.application-cards {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
}

.application-card {
  text-align: center;
  width: 25%;
}

.application-card p {
  font-weight: bold;
  font-size: 20px;
}

#img-application {
  width: 50px;
  padding: 5px;
}

/* -- MTT -- */

#mtt {
  width: auto;
  height: auto;
  padding: 30px;
}

.mtt-title {
  padding-top: 50px;
  color: rgb(244, 212, 124);
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.mtt-cards {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
}

.mtt-card {
  text-align: center;
  width: 25%;
}

#mtt img{
    transition: 0.5s ease;
    cursor:pointer;
}

#mtt img:hover{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
}

.mtt-card img{
    width: 300px;
    height: 301px;
    border-radius: 5px;
}
/* -- TEAM -- */

.at {
  width: auto;
  height: auto;
  padding: 30px;
  background-color: rgba(218, 165, 32, 0.233);
}

.at-title {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.at-cards {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 0 50px 0 50px;
  border-radius: 5px;
}

.at-card {
  text-align: center;
  width: 25%;
}

.at img{
    transition: 0.5s ease;
    cursor:pointer;
}

.at img:hover{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.767); 
}


/* -- CONTACT US -- */

.contact {
  background-image: url(../img/contactUs.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  padding-bottom: 18rem;
}
.contact-box {
  background: var(--lightgray);
}
.contact-text h2 {
  font-size: 40px;
  font-family: var(--font2);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.box1 {
  width: 100%;
  display: flex;
}
.contact-text {
  width: 50%;
  padding: 3rem;
  text-align: center;
}
.contact-text p {
  font-family: var(--font1);
  line-height: 1.875em;
  font-size: 15px;
}
.contact-form {
  width: 50%;
  padding: 3rem;
  padding-left: 9rem;
  display: block;
}
.map {
  width: 100%;
  height: 60vh;
  border: 0;
}
.input {
  margin-bottom: 1rem;
  width: 50%;
}
.input p {
  font-family: var(--font1);
}
.input input {
  padding: 15px;
  font-family: var(--font1);
  width: 500px;
  font-size: 1rem;
  background: var(--lightgray);
  border: 1px solid black;
}
.dinput {
  display: flex;
  gap: 50px;
}
.dinput input {
  width: 100%;
}
.contact-form-box {
  max-width: 500px;
}
.btn-box {
  display: flex;
  justify-content: right;
}
.contact-form-box button.btn {
  border: 0;
  background: var(--black);
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--white);
  font-family: var(--font1);
  font-weight: 700;
}
